[Unit]
Description=Immutable overlay management daemon socket

[Socket]
ListenStream=/run/immutable/daemon.sock
SocketUser=root
SocketGroup=immutable
SocketMode=0660
FlushPending=yes

[Install]
WantedBy=sockets.target
