[Unit]
Description=Immutable overlay management daemon
After=local-fs.target immutable-data-mount.service
Requires=local-fs.target
Wants=immutable-data-mount.service
RefuseManualStart=yes

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/immutable/daemon/daemon.py
WorkingDirectory=/usr/lib/immutable/daemon
User=root
Group=root

LimitNOFILE=65536
TimeoutStopSec=5
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
